@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --green: rgb(121, 236, 150);
  --blue: rgb(147, 162, 255);
  --red: rgb(255, 146, 146);
  --yellow: rgb(255, 215, 72);

  --drk-green: hsl(135, 57%, 64%);
  --drk-blue: rgb(133, 145, 226);
  --drk-red: rgb(219, 124, 124);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-image: radial-gradient(#000000 1px, transparent 1px);
  background-size: 32px 32px;
  background-color: #e5e5f7;
  user-select: none;
}

/*----- THESE ARE BUTTONS  -----*/

button {
  -webkit-tap-highlight-color: transparent;
}

p {
  -webkit-tap-highlight-color: transparent;
}

svg {
  -webkit-tap-highlight-color: transparent;
}
