.gameOver-container {
  position: absolute;
  border-radius: 1rem;
  padding: 2rem;
  background-color: white;
  width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.gameOver-container.show {
  animation: gameOverShow 0.5s ease forwards;
}

.gameOver-container.hide {
  animation: gameOverHide 0.5s ease forwards;
}

.gameOver-container h1 {
  text-align: center;
  font-size: 2.6rem;
}

.gameOver-container h3 {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 3.2rem;
  font-weight: 900;
  border-radius: 0.5rem;
  margin-top: 2rem;
  color: var(--yellow);
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.6);

  -webkit-box-shadow: inset 1px 1px 11.5px -6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 1px 1px 11.5px -6px rgba(0, 0, 0, 0.6);
  box-shadow: inset 1px 1px 11.5px -6px rgba(0, 0, 0, 0.6);
}

.gameOver-container p {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.6rem;
}

.gameOver-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.gameOver-buttons svg {
  flex: 1;
  margin-top: 2rem;
  padding: 1rem;
  transition: all 0.15s ease;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  color: white;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 0px 3px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.gameOver-buttons svg:nth-child(1) {
  background-color: var(--blue);
}

.gameOver-buttons svg:nth-child(2) {
  background-color: var(--red);
}

.gameOver-buttons svg:nth-child(3) {
  background-color: var(--green);
}

.gameOver-buttons svg:active {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.gameOver-buttons svg:nth-child(1):active {
  background-color: var(--drk-blue);
}

.gameOver-buttons svg:nth-child(2):active {
  background-color: var(--drk-red);
}

.gameOver-buttons svg:nth-child(3):active {
  background-color: var(--drk-green);
}

@keyframes gameOverShow {
  from {
    transform: translateY(100rem);
    z-index: -10;
  }
  to {
    transform: translateY(0rem);
    z-index: 10;
  }
}

@keyframes gameOverHide {
  from {
    transform: translateY(0rem);
    z-index: 10;
  }
  to {
    transform: translateY(100rem);
    z-index: -10;
  }
}
