.leaderboard-container {
  height: 100svh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: leaderBoardAnimation 1s ease;
}

.leaderboard-wrapper {
  background-color: white;
  width: 40rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.leaderboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--grey);
}

.leaderboard-header h1 {
  font-size: 2.6rem;
}

.leaderboard-header svg {
  font-size: 2.1rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease;
  position: absolute;
  left: 0;
}

.leaderboard-header svg:hover {
  background-color: var(--grey);
}

.leaderboard-wrapper .gameMode {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}

.leaderboard-wrapper .gameMode label {
  font-size: 1.4rem;
}

.leaderboard-wrapper .gameMode select {
  font-size: 1.4rem;
  border: 1px solid var(--grey);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background: none;
}

.leaderboard-wrapper .gameMode select:focus {
  outline: none;
}

.leaderboard-wrapper .table-container {
  margin-top: 2rem;
}

.leaderboard-wrapper table {
  border-collapse: collapse;
}

.leaderboard-wrapper table thead {
  background-color: var(--green);
  font-weight: 600;
}

.leaderboard-wrapper table td {
  text-align: center;
  padding: 0.5rem 3rem;
  font-size: 1.4rem;
}

.leaderboard-wrapper table td:nth-child(2) {
  width: 100%;
}

.leaderboard-wrapper table .rank1 {
  color: gold;
  font-size: 1.8rem;
}

.leaderboard-wrapper table .rank2 {
  color: rgb(186, 195, 219);
  font-size: 1.8rem;
}

.leaderboard-wrapper table .rank3 {
  color: rgb(213, 150, 98);
  font-size: 1.8rem;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.pagination-buttons svg {
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.15s ease;
  cursor: pointer;
}

.pagination-buttons svg:hover {
  background-color: var(--grey);
}

.pagination-buttons p {
  font-size: 1.6rem;
}

@keyframes leaderBoardAnimation {
  0% {
    transform: translateY(-100rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*----- LOADER -----*/

.spinner {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #000000);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 0.6rem),
    #000 0
  );
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}
