.leaderboard-container {
  height: 100svh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: leaderBoardAnimation 1s ease;
}

.leaderboard-wrapper {
  background-color: white;
  width: 40rem;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.leaderboard-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5f7;
}

.leaderboard-header svg {
  font-size: 2.1rem;
  margin-right: 1rem;
}

.leaderboard-header h1 {
  font-size: 2.6rem;
}

.mode {
  display: flex;
  width: fit-content;
  padding: 0.5rem;
  margin-top: 2rem;
  outline: 1px solid #e5e5f7;
  border-radius: 0.2rem;
}

.mode label {
  font-size: 1.4rem;
  font-weight: 500;
}

.mode select {
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1.4rem;
}

.leaderboard-wrapper table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.leaderboard-wrapper table tr {
  border: 1px solid #e5e5f7;
}

.leaderboard-wrapper table th {
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: var(--green);
}

.leaderboard-wrapper table th:nth-child(2) {
  width: 100%;
}

.leaderboard-wrapper table td {
  font-size: 1.4rem;
  text-align: center;
  padding: 0.5rem 0;
}

.leaderboard-wrapper .rank1 {
  color: gold;
  font-size: 2.1rem;
}

.leaderboard-wrapper .rank2 {
  color: silver;
  font-size: 2.1rem;
}

.leaderboard-wrapper .rank3 {
  color: rgb(195, 117, 57);
  font-size: 2.1rem;
}

.leaderboard-wrapper table td .star {
  color: var(--yellow);
  font-size: 1.6rem;
  margin-bottom: -0.3rem;
}

.pagination-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.pagination-buttons p {
  font-size: 1.4rem;
  color: rgb(101, 101, 101);
}

.pagination-buttons svg {
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  font-weight: 600;
  color: rgb(101, 101, 101);
  cursor: pointer;
}

.pagination-buttons svg:hover {
  background-color: rgba(219, 219, 219, 0.142);
}

@keyframes leaderBoardAnimation {
  0% {
    transform: translateY(-100rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
